<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table id='post_table'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= link_to 'Show', post %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<a data-toggle="modal" href="#new-post-modal">Add Post</a> 
</br>
<!-- <br>
<%= link_to 'Add Post', new_post_path %> -->

<!-- Modal -->
<div class="modal fade" id="new-post-modal" tabindex="-1" role="dialog" aria-labelledby="new-post-modalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-post-modalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for(Post.new, validate: true, remote: true, html: {"data-type" => :json}) do |f| %>
        <ul class="errors" >
          <li></li>
        </ul>
        <div class="field">
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>
        <div class="field">
          <%= f.label :content %>
          <%= f.text_field :content %>
        </div>
        <div class="actions">
          <%= f.submit 'Save' %>
        </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>